<!doctype html>
<html>
<head>
  <title>seekrit</title>
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Because MSIE needs to die. -->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
</head>

<body>



<!-- entry point for layout -->
<!-- ********************** -->
<div id="layout" class="pure-g">

  <!-- Sidebar -->
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <p>Testing</p>
    </div>
  </div>






















  <!-- Primary content -->
  <div class="content pure-u-1 pure-u-md-3-4">
    STUFF HERE
    <%= yield %>
  </div>


































</div>
<!-- ************************** -->
<!-- exit point: primary layout -->



</body>
</html>
